:root {
  --black-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --bgc-black-color: #2f303a;
  }
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  }
.list-link {
  text-decoration: none;
}
.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
    color: var(--blue-color);
}
.logo-studio {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
}
.nav-list {
list-style: none;
}
.list-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.nav-contact {
  list-style: none;
  }
.list-link:hover,
.list-link:focus, {
  color: var(--blue-color);
}
.item-contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.item-contact:hover,
.item-contact:focus {
  color: var(--blue-color);
}
.hero {
  background-color: var(--bgc-black-color);
}
.title-hero {
  background-color: var(--bgc-black-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.button-hero {
  background: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.list-features {
  list-style: none;
}

.item-features {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-color);
}
.text-features {
  line-height: 1.71;
  color: var(--grey-color);
}
.works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-color);
}
.list-works {
  list-style: none;
}
.item-team {
  list-style: none;
}
.title-team {
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}
.text-team {
  font-size: 16px;
  color: var(--grey-color);
}
.footer {
    background-color: var(--bgc-black-color);
}
.footer-logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--white-color);
}
.footer-address {
  font-weight: 400;
  line-height: 1.71;
  color: var(--white-color);
}
.footer-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.list-works {
  list-style: none;
}
.filter {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--black-color);
}
.filter:hover,
.filter:focus,
.filter:current {
  background-color: var(--blue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--white-color);
}
.nazvanie-proekta {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.opisanie-proekta {
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-color);
}
