body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
:root {
  --black-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --bgc-black-color: #2f303a;
  }
.logo-link {
  text-decoration: none;
}
.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
    color: var(--blue-color);
}
.logo-studio {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
}
.nav-spisok {
list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--blue-color);
}
.header-contact {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--blue-color);
}
.section-hero {
  background-color: var(--bgc-black-color);
}
.hero {
  background-color: var(--bgc-black-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-button {
  background: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.osobennosti-spisok {
  list-style: none;
}

.osobennosti {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-color);
}
.osobennosti-opisanie {
  line-height: 1.71;
  color: var(--grey-color);
}
.zagolovok {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-color);
}
.spisok-rabot {
  list-style: none;
}
.spisok-team {
  list-style: none;
}
.team {
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}
.team-spec {
  font-size: 16px;
  color: var(--grey-color);
}
.podval {
    background-color: var(--bgc-black-color);
}
.podval-logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--white-color);
}
.podval-addresss {
  font-weight: 400;
  line-height: 1.71;
  color: var(--white-color);
}
.podval-contact {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.spisok-rabot {
  list-style: none;
}
.filter {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--black-color);
}
.filter:hover,
.filter:focus {
  background-color: var(--blue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--white-color);
}
.nazvanie-proekta {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.opisanie-proekta {
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-color);
}
